* {
	margin:0;
	padding:0;
	font-family: sans-serif;
}
body{
	margin:0;
    padding:0;
    
    }   
a:link, a:visited{
    color:#fff;
    text-decoration:none;
} 
/*header start*/
.title-box{
    width: 100%;
    height: 300px;
    background-color: aliceblue;;
}
/*main banner start*/
.mainbanner01{
    max-width: 1200px;
    height: auto;
}
.mainbanner01 a img{
    width: 100%;
}