* {
	margin:0;
	padding:0;
	font-family: sans-serif;
}
body{
	margin:0;
    padding:0;
    background-color: aliceblue;
    }   
a:link, a:visited{
    color:#fff;
    text-decoration:none;
} 
/*header start*/
.title-box{
    width: 100%;
    height: 100px;
}
/*main banner start*/
.mainbanner01{
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}
.mainbanner01 a img{
    width: 100%;
    display: block;
}
/*おすすめ banner start*/
.recommend-title{
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}
.recommend-title a img{
    width: 100%;
    display: block;
}
#recom-area{
    max-width: 1000px;
    margin:-7px auto;
    background-color: #37919d;
    padding-bottom: 40px;
}
#recom-item{
    display: flex;
    width: 80%;
    margin: 0px auto;
    padding-top: 40px;
}
.item-box{
    display: inline-block;
    width: 45%;
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid #afadad;
    margin: 0 1.7%;
}
.item-d{
    width: 90%;
    margin: 5% auto 0;
}
.item-thumnail{
    width: 90%;
    padding: 0 5%;
    background-color: #dbdbdc;
}
.item-thumnail:after {
    content: "";
    display: block;
    padding-bottom: 110%;
  }
.item-name{
    color: #37919d;
    font-weight: 600;
    width: 90%;
    margin: 10px auto 0;
    text-align: center;
}
.item-info{
    width: 90%;
    margin: 0 auto;
}
.item-delivery{
    display: inline-block;
    width: 35%;
    height: 50px;
    background-color: #37919d;
    border-radius: 30px;
    color: #fff;
    font-size: 2em;
    text-align: center;
    
}
.item-priceinfo{
    display: inline-block;
    position: relative;
    width: 20%;
    top: 5px;
    height: 50px;
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
    text-align: right;
}
.item-price{
    display: inline-block;
    position: relative;
    top: 5px;
    width: 40%;
    height: 80px;
    color: #000;
    font-size: 2.5em;
    font-weight: 600;
    text-align: right;
}